<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header" >
      <div class="clearfix"><a class="navbar-brand" href="#">
          <h1 class="logo">🥑</h1> 
          </a>
      </div>
      
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav mainLink">
        <li><a style="cursor: pointer"
          routerLink="">AV-Mart</a></li>

        <li routerLinkActive="active"><a style="cursor: pointer"
          routerLink="/veggies">Fruits & Veggies</a></li>

        <li routerLinkActive="active"><a style="cursor: pointer"
          [routerLink]="['/recipes']">Recipes</a></li>

      
        <!-- <li class="dropdown " appDropdown>
              <a class="dropdown-toggle" role="button" style="cursor:pointer">Manage<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Save data</a></li>
                  <li><a href="#">Fetch data</a></li>
                </ul>
        </li> -->
      </ul>

      <ul class="nav navbar-nav navbar-right">
          <li *ngIf="userIsAuthenticated" routerLinkActive="active">
            <a style="cursor: pointer"
            [routerLink]="['/shopping-list']">
            <span *ngIf="itemsCount!==0" class="badge">{{itemsCount}}</span>
            <img class="cart" src="/assets/images/cart6.png">
            </a>            
          </li>
          <li *ngIf="!userIsAuthenticated" router-link-ative="active"><a style="cursor: pointer"
            [routerLink]="['/signUp']"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li *ngIf="!userIsAuthenticated" rouetLinkActive="active"><a style="cursor: pointer"
            [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <li *ngIf="userIsAuthenticated" rouetLinkActive="active"><button class="logout" (click)="onLogout()"
            [routerLink]="['/logout']"><span class="glyphicon glyphicon-log-out"></span> Logout</button></li>
      </ul> 
    </div>
  </div>
</nav>

  