<!-- assets/images/more-fruits-veggies.jpg -->
<!-- assets/images/mango-quinoa-salad.jpg -->
<!-- assets/images/resized-veggies.jpeg -->
<hr>
<div class="bgimg-1">
    <div class="caption">
      <span class="border">Enjoy our fresh fruits & veggies !
      </span>     
    </div>
  </div>
  
  <div class="bgimg-2">
    <div class="caption">
      <span class="border">Shop directly from your favourite recipes</span>
    </div>
  </div>
 
  <div class="bgimg-3">
    <div class="caption">
      <span class="border">Enjoy shopping at AV-Mart!</span>
    </div>
  </div>
  
  