
 form{
   margin: 0 auto;
   width: 600px;
   padding-top: 8%;
  
 }
 span{
     color: red;
     
 }
 .login{
     width:100%;
     height:100%;
     padding-left: 25%;
     padding-right: 20%;
     padding-top: 5%;
     
 }
 input{
     border-style: ridge;
 }
 .signUp{
     margin-left: 80px;
     margin-top:10px;
     font-weight: bold;
     /* color:green; */
     
 }