<div class="container">
  <div class="col-xs-6">
      <div class="panel panel-default">
          <div class="panel-heading">
             <p>Select mode of transaction</p>
          </div>
          <div class="panel-body">
               <label class="checkbox-inline">
                 <input type="checkbox" value="" >Pay On Delivery
               </label>
               <br><br>
               <label for="address">Billing address</label><br>
               <textarea>{{address}}</textarea>
               <br><br>
               <button class="btn btn-danger" type="button" (click)="onOrder()">Place Order</button>               
          </div>          
     </div>       
  </div>
</div>
