
<app-header></app-header>
<hr>

<div class="container">
  <div class="row">
    <!-- <div></div> -->
    <!-- <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2"> -->
   

    <!-- <app-veggies *ngIf="routingStatus=='Sveggies',else shopping">
  </app-veggies>
  <ng-template #shopping><app-shopping-list *ngIf="routingStatus=='Sshopping', else recipe"></app-shopping-list></ng-template>
  <ng-template #recipe><app-recipes></app-recipes> </ng-template>  -->

      <router-outlet></router-outlet>
  
     <!-- </div> -->
  </div>
</div>
