
<div class="row">
    <div class="col-xs-12">
      <img [src]="Z.imagePath"
           alt="" class="img-responsive" style="height:350px ;width: 310px" >
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{Z.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div *ngIf="userIsAuthenticated" class="btn-group" appDropdown >
          <button class="btn btn-primary ">Manage <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a  (click)="onSelectingIngred()" style="cursor:pointer;">Add ingredients to the shopping list</a></li>
            <li><a *ngIf="isAdmin"
                   style="cursor:pointer"
                   [routerLink]="['/editRecipe',id]"
                   routerLinkActive="active"
                  >Edit Recipe</a></li>
            <li><a *ngIf="isAdmin"
                    style="cursor:pointer"
                   (click)="onDeleteRecipe()">Delete Recipe</a></li>
          </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">  
        <h3>Description:</h3>    
      <div class="panel panel-info">
        <div class="panel-body" style="background-color: rgb(212, 224, 226);">{{Z.description}}</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Ingredients:
      <ul class="list-group">
      <li class="list-group-item list-group-item-info"
      *ngFor="let ingr of Z.ingredients"
      >
      <img [src]="ingr.imagePath"
      alt="" class="img-responsive" style="height:80px ;width: 100px" >{{ingr.name}} <span class="badge">Price: {{ingr.price}} - Quantity: {{ingr.quantity}}</span> </li>
    </ul>
    </div>
  </div>