<button *ngIf="isAdmin" class="btn btn-success" 
        routerLinkActive="active"
        [routerLink]="['/addVeggie']"
      >New Veggie</button>
<hr>
<div class="container">
  <div class="row">       
      <div class="flex-container">
        <app-veggies-list *ngIf="!userIsAuthenticated" [routerLink]="['/login']" routerLinkActive="active"></app-veggies-list>   
        <app-veggies-list *ngIf="userIsAuthenticated"></app-veggies-list>   
      </div>                           
  </div>  
</div>
